main{
    min-height: 80vh;
}
.product-link {
    text-decoration: none; 
    color: inherit; 
  }
  
  .product-link:hover {
    text-decoration: underline; 
  }

  h3 {
    padding: 1rem 0;
  }

  .rating span {
    margin: 0.1rem;
  }
  